<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DiaryExam.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AEFD28E71E56B8FB00E32EE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEFD29031E56B8FB00E32EE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEFD290E1E56B8FC00E32EE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
